body{
    margin: 0px;
    background-image: linear-gradient(gray, black);
}

.sign{
    display: flex;
    text-align: center;
    flex-direction: column;
    color: white;
    background-color: black;
    height: 320px;
    margin-top: 20px;
    font-family: 'Acme', sans-serif;
    
}

#signup{
    width: 200px;
    height:40px;
    border-radius: 100px;
    background-color: indigo;
    border: none;
    margin: 0px 70px;
    font-size: 19px;
}

#signup:hover{
   background-color: blueviolet; 
}
input[type=password], input[type=text],  input[type=email] {
    height: 25px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    align-items: center;
    outline: none;
    width: 200px;
    margin: 0px 70px;
    font-family: 'Bitter', serif;
}

.container{
    margin: 140px 196px;
    font-family: 'Acme', sans-serif;
}

.goog, .fb, .git{
    height: 40px;
    width: 300px;
    border-style: none;
    border-radius: 100px;
}

.goog{
    background-color: orange;
    color: white;
}

.fb{
    background-color: rgb(2, 0, 128);
    color: white;
}

.git{
    background-color: black;
    color: white;
}

.goog:hover{
    background-color:white; 
    color: orange;
    border: 1px solid orange;
    transition: 1s ease;
}

.fb:hover{
    background-color:white; 
    color: blue;
    border: 1px solid blue;
    transition: 1s ease;
}

.git:hover{
    background-color:white; 
    color: black;
    border: 1px solid  black;
    transition: 1s ease;
}

.col-sm-4{
    background-color: blue;
    height: 360px;
}
.fa-github , .fa-lock, .fa-google, .fa-facebook{
    font-size: 22px;
    padding: 0px 10px;
}

